/* DEFINE SOME ANIMATIONS */

@keyframes colorChange {
	to {
		/* width: 4.5rem; */
		background: yellow;
		border: 3px solid #f00;
	}
}

form {
	--timer1: 0.3s;
	--timer2: 0.15s;
	--delay: 1s;
}

/* ANIMATION WHEN STARTING THE PAGE */
#face5 {
	animation: colorChange var(--timer1) ease var(--delay) 2 alternate,
		colorChange var(--timer1) ease calc(var(--delay) + 13 * var(--timer2)) 2
			alternate;
}
#face4 {
	animation: colorChange var(--timer1) ease
			calc(var(--delay) + 1 * var(--timer2)) 2 alternate,
		colorChange var(--timer1) ease calc(var(--delay) + 12 * var(--timer2)) 2
			alternate;
}
#face3 {
	animation: colorChange var(--timer1) ease
			calc(var(--delay) + 2 * var(--timer2)) 2 alternate,
		colorChange var(--timer1) ease calc(var(--delay) + 11 * var(--timer2)) 2
			alternate;
}
#face2 {
	animation: colorChange var(--timer1) ease
			calc(var(--delay) + 3 * var(--timer2)) 2 alternate,
		colorChange var(--timer1) ease calc(var(--delay) + 10 * var(--timer2)) 2
			alternate;
}
#face1 {
	animation: colorChange var(--timer1) ease
			calc(var(--delay) + 4 * var(--timer2)) 2 alternate,
		colorChange var(--timer1) ease calc(var(--delay) + 9 * var(--timer2)) 2
			alternate;
}

/* IMAGE STYLES */
[type='radio'] + img {
	cursor: pointer;
	width: 3rem;
	text-align: center;
	display: inline-block;
	margin: 0.5rem;
	padding: 0.2rem;
	border: 2px solid grey;
	border-radius: 10%;
	background: white;
}

h3 {
	text-align: center;
	margin-bottom: 30px;
}

/* CHECKED STYLES */
[type='radio']:checked + img {
	/* animation: sizeChange 0.05s;
	animation-fill-mode: forwards; */
	border: 3px solid #f00;
	/* font-size: 1.5rem; */
	font-weight: bold;
	color: black;
	background: yellow;
	border-radius: 10%;
	width: 4.5rem;
}

[type='radio'] {
	display: none;
}

a:hover {
	color: red;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1rem 6fr 1rem 1fr;
	background: white;
	margin-bottom: 150px;
}

.logos2 {
	grid-column: 3/4;
	grid-row: 1/2;
	display: flex;
	margin-top: 20px;
	margin-bottom: 40px;
	justify-content: space-between;
}

form {
	grid-column: 3/-3;
	grid-row: 2/3;
}

.logos {
	grid-column: 3/4;
	grid-row: 3/4;
	display: flex;
	margin-top: 20px;
	margin-bottom: 40px;
	justify-content: space-between;
}

#logo1 {
	height: 70px;
}

#logo2 {
	height: 70px;
}

#logo3 {
	height: 70px;
}

.leftSide {
	grid-column: 1/2;
	grid-row: 1/2;
	background: var(--primary);
}
.rightSide {
	grid-column: 5/6;
	grid-row: 1/2;
	background: var(--primary);
}

.reviewLablesDiv {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	background: hsl(245, 0%, 90%);
	width: 100%;
	height: 30px;
	padding-top: 15px;
	padding-bottom: 12px;
}

h4 {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	color: darkslategrey;
}
