/* IMAGE STYLES */
[type='radio'] + img {
	cursor: pointer;
	width: 3rem;
	text-align: center;
	display: inline-block;
	margin: 0.5rem;
	padding: 0.2rem;
	border: 2px solid grey;
	border-radius: 10%;
	background: white;
}

h3 {
	text-align: center;
	margin-bottom: 30px;
}

/* CHECKED STYLES */
[type='radio']:checked + img {
	border: 3px solid #f00;
	/* font-size: 1.5rem; */
	font-weight: bold;
	color: black;
	background: yellow;
	border-radius: 10%;
	width: 4.5rem;
}

[type='radio'] {
	display: none;
}

a:hover {
	color: red;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1rem 6fr 1rem 1fr;
	background: white;
}

form {
	grid-column: 3/-3;
	grid-row: 1/2;
}

.leftSide {
	grid-column: 1/2;
	grid-row: 1/2;
	background: var(--primary);
}
.rightSide {
	grid-column: 5/6;
	grid-row: 1/2;
	background: var(--primary);
}

.reviewLablesDiv {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	background: hsl(245, 0%, 90%);
	width: 100%;
	height: 30px;
	padding-top: 15px;
	padding-bottom: 12px;
}
